/* DEFAULTS */

:root {
	--light: #ffffff;

	--grey: #aaaaaa;
	--grey-a: #333333;

	--dark: #111111;
	--dark-da:#0a0a0a;

	--primary: #ff4800;
	--primary-da: #cc3a00;
	--primary-db: #992b00;
	--primary-dc: #661d00;
	--primary-la: #ff6d33;
	--primary-lb: #ff9166;
	--primary-lc: #ffb699;

	--secondary: #ff980d;
	--secondary-da: #cc7a0a;
	--secondary-db: #995b08;
	--secondary-dc: #663d05;
	--secondary-la: #ffad3d;
	--secondary-la: #ffc16e;
	--secondary-la: #ffd69e;

	--c3: #39393C;

	--highlight: #00ffd4;

	--width-mobile: clamp(15rem, 88vw, 130rem);
	--width-desktop: clamp(15rem, calc(80vw - 10rem), 200rem);
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	cursor: default;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Creato', sans-serif;
	background-color: var(--dark);
	letter-spacing: 0.06rem;
	position: relative;
	color: var(--light);
}

a {
	text-decoration: none;
	color: unset;
}

b, strong {
	font-weight: inherit;
}

img {
	user-select: none;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	width: 100%;
}

picture img {
	height: 100%;
	width: 100%;
}

.mobile_hidden {
	display: none;
}

::selection {
	color: var(--light);
	background-color: #31393c;
}

::-webkit-scrollbar {
	width: 1.4rem;
	height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--c3);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
}

@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-Thin.otf');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-Light.otf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-Regular.otf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-Medium.otf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-Bold.otf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-ExtraBold.otf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Creato';
	src: url('/fonts/CreatoDisplay-Black.otf');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

main {
	/* position: relative; */
	/* z-index: 1; */
	flex: 1;
}

input {
	font-family: inherit;
	font-size: inherit;
	border: unset;
	color: inherit;
	font-weight: inherit;
}

button {
	background-color: transparent;
	outline-color: transparent;
	border: unset;
	padding: unset;
	font-family: 'Creato', sans-serif;
	-webkit-tap-highlight-color: transparent;
	color: var(--light);
	font-size: inherit;
}

button:not([type="submit"]):focus-visible {
	outline: 0.1rem solid transparent;
}

.flex {
	display: flex;
}

















main section {
	background-size: cover;
	box-sizing: border-box;
}

body>.flex {
	flex-direction: column;
}

main>.ctnr {
	flex: 1;
}





















.logo_outline {
	position: fixed;
	inset: 0;
	min-height: 107vh;
	mix-blend-mode: color-dodge;
	width: 100%;
	/*filter: drop-shadow(-2rem -1rem 1rem var(--secondary));
	*/pointer-events: none;
	transform: scale(1.06);
	z-index: 9;
	/*opacity: 0;
	*/transition: opacity 0s ease;
	-webkit-transition: opacity 0s ease;
	-moz-transition: opacity 0s ease;
	-ms-transition: opacity 0s ease;
	-o-transition: opacity 0s ease;
}

.logo_outline line {
	fill: none;
	stroke: var(--secondary);
	stroke-miterlimit: 10;
	stroke-width: 0.2rem;
	stroke-dasharray: 185rem;
	stroke-dashoffset: 50vh;
	vector-effect: non-scaling-stroke;
	/*stroke-linecap: round;*/
	transition: stroke-dashoffset 5s cubic-bezier(0, 0, 0.2, 1);
	/*transition: stroke-dashoffset 2s cubic-bezier(0.4, 0, 0.2, 1);
	*//*backface-visibility: hidden;
	*/will-change: stroke-dashoffset;
	-webkit-transition: stroke-dashoffset 5s cubic-bezier(0, 0, 0.2, 1);
	-moz-transition: stroke-dashoffset 5s cubic-bezier(0, 0, 0.2, 1);
	-ms-transition: stroke-dashoffset 5s cubic-bezier(0, 0, 0.2, 1);
	-o-transition: stroke-dashoffset 5s cubic-bezier(0, 0, 0.2, 1);
}
































/* .intro_sec .cta_ctnr */

.intro_sec .cta {
    background-color: var(--dark);
    /*text-align: center;
    */color: var(--light);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: clamp(1.4rem, 4.4vw, 1.85rem);
    padding: clamp(0.9rem, 1vmin, 1.4rem) clamp(1.5rem, 5vmin, 3rem);
    border-radius: 0.3rem;
    letter-spacing: 0.05rem;
    border: 0.2rem solid var(--primary-la);
    backdrop-filter: blur(0.4rem);
    position: relative;
    z-index: 9;
    transition: background-color 0.4s ease;
    width: fit-content;
    line-height: 1.35;
    user-select: none;
    cursor: pointer;
    transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -moz-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
}

.cta span {
    transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    -moz-transform: skew(10deg, 0deg);
    -ms-transform: skew(10deg, 0deg);
    -o-transform: skew(10deg, 0deg);
}

.cta::after {
	content: '';
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	width: 0.3rem;
	height: 0.3rem;
	border-top: 0.2rem solid var(--light);
	border-right: 0.2rem solid var(--light);
	/* transform: rotate(45deg); */
}

.cta:hover {
	background-color: var(--primary);
	transition: background-color 0.05s ease;
}

.cta_ctnr a:not(.cta) {
	font-size: clamp(1.4rem, 4vw, 1.7rem);
	letter-spacing: 0.1rem;
	max-width: 70vh;
	text-decoration: underline;
	text-underline-offset: 0.6rem;
	text-decoration-color: var(--secondary-da);
}







/* Form warning */

.warning {
	position: fixed;
	top: 3rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	text-align: center;
	width: fit-content;
	padding: 1rem 2.5rem;
	background-color: var(--dark);
	z-index: 9;
	font-size: clamp(1.5rem, 5vw, 1.5rem);
	border-radius: 5rem;
	border: 0.2rem solid;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
	opacity: 0;
	visibility: hidden;
	color: var(--light);
	transform: translateY(calc(-100% - 3rem));
	-webkit-transform: translateY(calc(-100% - 3rem));
	-moz-transform: translateY(calc(-100% - 3rem));
	-ms-transform: translateY(calc(-100% - 3rem));
	-o-transform: translateY(calc(-100% - 3rem));
}

.warning.require_fields {
	color: var(--highlight);
}

.warning.error {
	border-color: crimson;
}

.warning.visible {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.contact_form button[type="submit"].disabled {
	opacity: 0.6;
	cursor: none;
	pointer-events: none;
}





















@media screen and (min-width: 650px) {

	.path01 {
		/* transition: stroke-dashoffset 3s cubic-bezier(0, 0, 0.2, 1); */
		/* stroke-width: 0.15rem; */
	}

	.logo_outline {
		/* opacity: unset; */
		/* inset: -4rem; */
		/* top: -8vh; */
		/* transform: translateY(-25%); */
	}
}







































body {
	color: var(--light);
}

section>.ctnr {
	box-sizing: border-box;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	position: relative;
	display: flex;
}

.intro_sec {
	background-color: var(--c3);
	background-image: linear-gradient(9deg, var(--c3) 4%, transparent 38%), url(/images/bg01.jpg);
	/* background-image: linear-gradient(9deg, var(--c3) 4%, transparent 38%), -webkit-image-set(url(/Andrei/andrei01-1x.webp) 1x, url(/Andrei/andrei01-2x.webp) 2x, url(/Andrei/andrei01-1x.jpg) 1x, url(/Andrei/andrei01-2x.jpg) 2x); background-position: 56% center; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.intro_sec>.ctnr {
    background-color: rgb(13 11 13 / 75%);
    padding: clamp(8rem, 20vmin, 14rem) 0;
}

.intro_sec .logo {
    width: clamp(10rem, 85vmin, 70rem);
    margin-inline: auto;
    display: block;
}

.intro_sec h1 {
    font-weight: 600;
    font-size: clamp(2.1rem, 8vmin, 5.5rem);
    width: fit-content;
    max-width: 120rem;
    margin: clamp(0rem, 3vmax, 4rem) auto clamp(0rem, 6vh, 3.5rem);
    line-height: 1.3;
    letter-spacing: 0.1rem;
    text-align: center;
}

.intro_sec h1 b {
    color: var(--secondary);	
}

.highlighted {
    background-color: var(--primary-da);
    position: relative;
    -webkit-box-decoration-break: clone;
    padding: 0 1.5rem;
    display: inline-block;
    border-radius: 0.3rem;
    transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    -moz-transform: skew(-10deg, 0deg);
    -ms-transform: skew(-10deg, 0deg);
    -o-transform: skew(-10deg, 0deg);
    mix-blend-mode: screen;
}

.highlighted span {
    display: inline-block;
    transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    -moz-transform: skew(10deg, 0deg);
    -ms-transform: skew(10deg, 0deg);
    -o-transform: skew(10deg, 0deg);
}

.intro_sec>.ctnr .wrapper {
	/* min-height: 40vh; */
	margin-bottom: clamp(1rem, 6vw, 5rem);
	flex: 1;
}

.intro_sec .content {
	width: var(--width-mobile);
}

.intro_sec .content .cta {
	max-width: 80%;
}

.cta_ctnr {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: clamp(1rem, 4vmin, 2rem);
}






















.about_sec {
	/* background-image: url(/Andrei/andrei02-1x.jpg); */
	/* background-image: linear-gradient(9deg, var(--c3) 4%, transparent 38%), -webkit-image-set(url(/Andrei/andrei02-1x.webp) 1x,
            url(/Andrei/andrei02-2x.webp) 2x,
            url(/Andrei/andrei02-1x.jpg) 1x,
            url(/Andrei/andrei02-2x.jpg) 2x); */
	background-position: 60% center;
	/* background-attachment: fixed; */
	background-color: #111111;
}

.about_sec>.ctnr {
	/* background-color: rgb(13 11 13 / 93%); */
	align-items: center;
	/* backdrop-filter: blur(0.5rem); */
	/* min-height: clamp(75vh, 15vw, 94vh); */
	display: flex;
	flex-direction: column;
	padding-bottom: 5rem;
}

.about_sec .content {
	font-weight: 400;
	line-height: 1.45;
	color: var(--light);
	width: 100%;
	width: var(--width-mobile);
	position: relative;
}

.about_sec .content p {
	margin-bottom: 1rem;
	font-size: clamp(1.5rem, calc(1.3vw + 1.3vh), 1.85rem);
}

.about_sec .content .cta {
	margin-top: 1.5rem;
	max-width: 80%;
}

.about_sec .content .txt {
	margin-top: 3rem;
	scroll-margin: 10rem;
	backdrop-filter: blur(0.4rem);
	z-index: 2;
	background-color: rgb(17 17 17 / 60%);
	position: relative;
}

.about_sec .content h2 {
	font-size: clamp(1.2rem, calc(2.8vw + 1.4vh), 4.1rem);
	line-height: 1.35;
	margin-bottom: clamp(1.5rem, 2vw, 2.5rem);
	font-weight: 600;
	letter-spacing: 0;
}

.about_sec .content h2 a {
	font-weight: inherit;
	text-decoration: underline;
	text-underline-offset: 0.4rem;
}

.about_sec .content h2 b,
.about_sec .content h2 strong {
	
}

.about_sec .content ol {
	padding-inline-start: 2.5rem;
	margin: 1.2rem 0;
}

.about_sec .content li {
	margin-bottom: 1rem;
}

.about_sec .content li::marker {
	color: var(--secondary-da);
	font-weight: 900;
}

.about_sec .content b, .about_sec .content strong {
	color: var(--secondary-da);
}

.about_sec iframe {}

.andrei_video {
	border-radius: 1.5rem;
	width: clamp(20rem, 66vw, 40rem);
	margin: 0 auto;
	border: 0.2rem solid var(--secondary);
	background-color: rgb(255 205 194 / 25%);
	z-index: 9;
	border-top-width: 0.5rem;
	border-bottom-width: 0.5rem;
	border-bottom-color: var(--secondary-da);
	position: relative;
	margin-top: -6vh;
	display: block;
}

.andrei_video::-webkit-media-controls-fullscreen-button {
	display: none;
}






















.my_philosophy_sec.inverted b,
.my_philosophy_sec.inverted strong {
	color: var(--secondary-da);
	background-color: transparent;
}


.my_philosophy_sec {
	background-color: var(--secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 0;
	position: relative;
	color: var(--c3);
	padding: clamp(5rem, 9vw, 12rem) 0;
}

.my_philosophy_sec.inverted {
	background-color: var(--c3);
	color: var(--light);
}

.my_philosophy_sec>.ctnr {
	display: flex;
	justify-content: center;
}

.my_philosophy_sec .content {
	/* text-align: center; */
	font-size: clamp(1.5rem, calc(1.5vw + 1.5vh), 3rem);
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: 0;
	width: var(--width-mobile);
}

.my_philosophy_sec b,
.my_philosophy_sec strong {
    font-weight: 700;
}

.my_philosophy_sec .content p {}























.framework_sec {
	min-height: 40rem;
	background-color: var(--primary);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	/* display: none; */
}

.framework_sec.inverted {
	background-color: var(--primary);
	color: var(--light);
}

.framework_sec .box>button {
	text-align: center;
	width: 100%;
	background-color: var(--primary-da);
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 0.2rem;
	font-weight: 800;
	font-size: clamp(1.4rem, 3.9vw, 1.65rem);
}

.framework_sec .box b,
.framework_sec .box strong {
	color: var(--primary);
	/* background-color: var(--light); */
}

.framework_sec .box form {
	display: flex;
	gap: 1rem;
	margin-top: 2.5rem;
	max-width: 35rem;
	margin-inline: auto;
	font-size: clamp(1.6rem, 4vw, 1.7rem);
	font-weight: 600;
}

.framework_sec .box form p {
	display: flex;
}

.framework_sec .box form p:first-child {
	flex: 1;
}

.framework_sec .box form input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0.2rem 0.3rem 0.2rem 1rem;
	border-radius: 0.3rem;
	background-color: var(--dark);
	border: 0.1rem solid var(--c3);
}

.framework_sec .box form button[type="submit"] {
	padding: 1rem 1.4rem;
	background-color: var(--primary-da);
	border-radius: 0.3rem;
	cursor: pointer;
}

.framework_sec .response {
	text-align: center;
	margin-top: 2rem;
	font-size: 1.6rem;
	color: var(--highlight);
	display: none;
}

.framework_sec .txt b,
.framework_sec .txt strong {
	color: var(--light);
	background-color: var(--primary-da);
}

.framework_sec>.ctnr {
	padding: clamp(5rem, 9vw, 10rem) 0;
}

.framework_sec .content {
	width: unset;
	/* text-align: center; */
	font-size: clamp(1.5rem, calc(1.5vw + 1.5vh), 2.4rem);
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0;
	display: flex;
	flex-direction: column;
	gap: clamp(3rem, 5vw, 5rem);
	width: var(--width-mobile);
}

.framework_sec .content .txt {
	flex: 1;
	min-width: clamp(20rem, 40vw, 63rem);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.framework_sec b,
.framework_sec strong {
	/* background-color: var(--light); */
	color: var(--dark);
	font-weight: 600;
}

.framework_sec .content p {}


.framework_sec .box {
	background-color: var(--dark);
	padding: 3rem clamp(3rem, 5vw, 4rem);
	box-sizing: border-box;
	font-size: 0.9em;
	border-radius: 0.5rem;
	/* border: 0.15rem solid var(--light); */
	/* backdrop-filter: blur(0.3rem); */
	z-index: 9;
	letter-spacing: 0.05rem;
	box-shadow: 1.1rem 1.1rem #fff3;
}

.framework_sec .box a {
	display: block;
	width: fit-content;
	margin: 2rem auto 0;
	line-height: 1.2;
	width: 100%;
	box-sizing: border-box;
}

































.blog_sec {
	/* min-height: clamp(75vh, 15vw, 94vh); */
	background-color: var(--dark);
	background-image: url(/Andrei/andrei03.jpg);
	background-image: linear-gradient(9deg, var(--c3) 4%, transparent 38%), -webkit-image-set(url(/Andrei/andrei03-1x.webp) 1x,
			url(/Andrei/andrei03-2x.webp) 2x,
			url(/Andrei/andrei03-1x.jpg) 1x,
			url(/Andrei/andrei03-2x.jpg) 2x);
	background-attachment: fixed;
}

.blog_sec>.ctnr {
	padding: clamp(5rem, 14vw, 9rem) 0 0;
	background-color: rgb(13 11 13 / 94%);
}

.blog_sec .content {
	width: var(--width-mobile);
}

.blog_sec .ctnr>a {
	font-size: clamp(3rem, 4vw, 3.5rem);
	font-family: 'Creato';
	letter-spacing: 0.05em;
	line-height: 1;
	position: absolute;
	bottom: clamp(3.5rem, calc(4vw + 5vh), 7rem);
	width: var(--width-mobile);
	text-decoration: underline;
	text-underline-offset: 1rem;
	text-align: center;
	z-index: 9;
}

.blog_sec .ctnr>a::after {
	content: '';
	position: absolute;
	width: 0.7rem;
	height: 0.7rem;
	border-top: 0.4rem solid;
	border-right: 0.4rem solid;
	border-color: var(--light);
	transform: translate(1rem, 0.25em) rotate(45deg);
}

.blog_sec .title {
	display: flex;
	gap: clamp(1rem, 2vw, 2rem);
	align-items: center;
}

.blog_sec h3 {
	font-size: clamp(5.4rem, calc(4.8vw + 4.8vh), 13rem);
	line-height: 1;
	font-family: 'Creato', sans-serif;
	letter-spacing: 0.05em;
	margin-bottom: -1rem;
	font-weight: 100;
}

.blog_sec sub {
	font-size: clamp(1.1rem, calc(1.8vw + 1.9vh - 1.3rem), 1.6rem);
	line-height: 1.4;
	max-width: clamp(10rem, 50vw, 28rem);
}

.blog_sec sub b {
	color: var(--primary);
	font-weight: 600;
}


.blog_carousel {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	gap: clamp(2.5rem, calc(2vh + 2vh), 4rem);
	width: clamp(15rem, 100vw, 130rem);
	padding: 3rem 8vw 12rem;
	box-sizing: border-box;
	z-index: 9;
	-webkit-mask-image: linear-gradient(90deg, white calc(100% - 8vw), transparent);
}

.blog_carousel a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    border-radius: 1.8rem;
    min-width: clamp(17rem, calc(20vh + 30vw), 38rem);
    max-width: 40rem;
    height: clamp(28rem, 100vw, 40rem);
    max-height: 70vh;
    padding: 3rem clamp(1.5rem, 5vw, 3rem);
    box-sizing: border-box;
    font-size: clamp(2.2rem, 8vmin, 4rem);
    font-family: 'Creato', sans-serif;
    color: var(--light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.1rem solid var(--c3);
    border-top-width: 0.4rem;
    position: relative;
    cursor: pointer;
    transition: transform 1s 0.1s ease, border-color 0.3s ease;
    overflow: hidden;
}

.blog_carousel a .cover {
	position: absolute;
	inset: 0;
	z-index: 0;
	opacity: 0.6;
	bottom: 0;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.blog_carousel a:hover {
	transform: translateY(-0.7rem);
	transition: transform 0.2s ease, border-color 0.1s ease;
	border-color: var(--primary);
}

.blog_carousel article:hover .read_more {
	color: var(--light);
	transition: color 0.1s ease;
}

.blog_carousel a h4 {
	font-weight: 600;
	cursor: pointer;
	position: relative;
}

.blog_carousel a h4 b {
	color: var(--primary);
	font-weight: inherit;
}

.blog_carousel a .read_more {
	position: absolute;
	bottom: 2.5rem;
	letter-spacing: 0.5rem;
	font-size: 2.4rem;
	font-weight: 400;
	color: var(--light);
	text-transform: uppercase;
	right: 0;
	transition: color 0.3s ease;
	/* background-color: var(--dark); */
	padding: 0.8rem 2rem 0.2rem 0;
	border-bottom: 0.2rem solid var(--primary);
}

/* .blog_carousel a:nth-child(3n + 1) {
    background-image: url(../blog/placeholders/01.jpg);
}

.blog_carousel a:nth-child(3n + 2) {
    background-image: url(../blog/placeholders/02.jpg);
}

.blog_carousel a:nth-child(3n + 3) {
    background-image: url(../blog/placeholders/03.jpg);
} */


















.social .instagram {
	background-image: url(/icons/instagram.svg);
}

.social .threads {
	background-image: url(/icons/threads.svg);
}

.social .twitter {
	background-image: url(/icons/twitter.svg);
}

.social .tiktok {
	background-image: url(/icons/tiktok.svg);
}

.social .linkedin {
	background-image: url(/icons/linkedin.svg);
}

footer .social a:hover {
	background-color: var(--primary-da);
	transition: background-color 0.05s ease;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: clamp(10rem, calc(50vh + 18vw), 50rem);
    font-size: clamp(4rem, 5vmin, 7rem);
    background-color: var(--highlight);
    color: var(--c3);
    font-weight: 700;
    text-align: center;
    padding: 5rem 3rem;
    box-sizing: border-box;
    font-family: 'Creato';
    letter-spacing: 0.15rem;
    box-sizing: border-box;
    gap: 1rem;
}

footer .social {
	flex-flow: row wrap;
}

footer .social a,
footer button {
	height: 4rem;
	/* border: 0.2rem solid var(--light); */
	padding: 1rem;
	box-sizing: border-box;
	background-size: 2rem;
	border-radius: 0.5rem;
	background-color: var(--primary);
	color: var(--light);
	font-weight: 800;
	/* text-transform: uppercase; */
	white-space: nowrap;
	transition: background-color 0.3s ease;
	font-size: 1.5rem;
}

footer .social a {
	min-width: 4rem;
	font-family: 'Creato', sans-serif;
	padding: 0.3rem 1.5rem 0.3rem 1rem;
	cursor: pointer;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	letter-spacing: 0;
}

footer .icon.mail {
	background-image: url(/icons/mail.svg);
	height: 100%;
	width: 2rem;
	background-size: contain;
}

footer .author {
	font-size: 2rem;
	position: absolute;
	bottom: 2rem;
}

footer .author a {
	text-decoration: underline;
}







































































@media screen and (min-width: 650px) {
	body>.flex {
		flex-direction: row;
	}

	.cta_ctnr {
		justify-content: center;
	}

	.intro_sec .content {
		margin-top: unset;
		width: var(--width-desktop);
	}

	section>.ctnr {
		display: flex;
		justify-content: center;
	}

	.intro_sec h1 {
		margin: clamp(0rem, 3vmax, 4rem) auto clamp(0rem, 6vh, 3.5rem);
		line-height: 1.2;
		font-size: clamp(4.2rem, 3.8vw, 5.5rem);
	}






	.about_sec>.ctnr {
		flex-direction: row-reverse;
		gap: unset;
		padding: clamp(1rem, 9vw, 8rem) 0 clamp(1rem, 9vw, 8rem);
	}

	.about_sec .content {
		font-size: clamp(1.5rem, calc(0.6vw + 1.2vh), 2.2rem);
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: space-between;
		width: var(--width-desktop);
		gap: clamp(2rem, 6vw, 8rem);
		align-items: flex-start;
	}

	.about_sec .content .txt {
		width: clamp(26rem, calc(52vw - 15rem), 95rem);
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		/* max-width: 74rem; */
	}

	.andrei_video {
		top: unset;
		width: clamp(16rem, calc(16vw + 9vh), 33rem);
		max-width: fit-content;
		box-sizing: border-box;
		position: relative;
		top: calc(50vh - 20vw);
		object-fit: contain;
		margin: calc((8rem + 8vh) * -1) auto;
		box-shadow: 0 1.8rem 1.2rem -1rem rgb(86 41 34 / 20%);
	}

	.my_philosophy_sec .content {
		text-align: center;
		width: var(--width-desktop);
	}

	.framework_sec>.ctnr {}

	.framework_sec .content {
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		width: var(--width-desktop);
	}

	.framework_sec .box {
		flex: 1;
		text-align: center;
		min-width: 35rem;
		padding: 3rem clamp(2rem, 3vw, 4rem) 3.5rem;
		/* max-width: 55vw; */
		margin: 0 auto;
	}

	.blog_sec .content {
		width: var(--width-desktop);
	}

	.blog_sec .ctnr>a {
		width: fit-content;
		left: clamp(5rem, 8vw, 25rem);
		position: absolute;
	}

	.blog_sec h3 {
		margin-bottom: unset;
	}

	.blog_carousel {
		padding: 3vh clamp(5rem, 8vw, 25rem) clamp(5rem, 15vw, 16rem);
		width: calc(100vw - clamp(11rem, calc(7vw + 6vh), 18rem));
		margin: 0 0 0 auto;
		-webkit-mask-image: linear-gradient(90deg, white calc(100% - clamp(5rem, 7vw, 12rem)), transparent);
	}



}














@media screen and (min-width: 850px) {
	.andrei_video {
		position: sticky;
		top: calc(50vh - 20vw);
	}

}



@media (min-width:1920px) {
	html {
		font-size: 11px;
	}
}

@media (min-width:2440px) {
	html {
		font-size: 13px;
	}
}

@media (min-width:3000px) {
	html {
		font-size: 16px;
	}
}

@media (min-width:4000px) {
	html {
		font-size: 22px;
	}
}