header {
    background-color: var(--dark);
    border-bottom: 0.1rem solid var(--dark-la);
    width: 100%;
    min-height: clamp(7rem, 18vw, 8rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
    flex: 0;
}

header>.ctnr {
    width: var(--width-mobile);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: clamp(4rem, 14vmin, 7rem);
    display: flex;
}

header .social,
footer .social {
    display: flex;
    flex-direction: row;
    gap: clamp(0.6rem, calc(0.9vw + 0.9vh), 1.4rem);
    justify-content: center;
}

.social a {
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s ease;
}

header .social a {
    width: clamp(2rem, calc(3vw + 2.4vh), 3.5rem);
    min-height: clamp(2rem, calc(3vw + 2.4vh), 3.5rem);
    border: 0.1rem solid var(--dark-la);
    border-radius: 50%;
    display: block;
    background-size: 45%;
    background-color: var(--dark);
}

.nav_ctnr {
    overflow: hidden;
}

header nav {
    position: absolute;
    min-height: 10rem;
    min-width: 30rem;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    padding: clamp(2rem, 4vw, 2.5rem);
    font-weight: 800;
    box-sizing: border-box;
    font-size: 1.6rem;
    gap: 1rem;
    top: clamp(7rem, 18vw, 8rem);
    right: 0;
    left: 0;
    text-align: center;
    border-bottom: 0.1rem solid var(--primary-la);
    opacity: 0;
    letter-spacing: 0.04em;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -webkit-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -moz-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -ms-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -o-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
}

header nav.show {
    opacity: 1;
    visibility: visible;
}

header nav a {
    white-space: nowrap;
    padding: 0 clamp(2rem, 4vw, 4rem);
    border-radius: 0.4rem;
    background-color: var(--dark);
    border: 0.1rem solid var(--primary-db);
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    -moz-transition: background-color 0.3s ease, border-color 0.3s ease;
    -ms-transition: background-color 0.3s ease, border-color 0.3s ease;
    -o-transition: background-color 0.3s ease, border-color 0.3s ease;
}

header nav a:hover,
header .social a:hover {
    background-color: var(--primary);
    border-color: var(--primary-da);
    transition: background-color 0.05s ease, border-color 0.05s ease;
    -webkit-transition: background-color 0.05s ease, border-color 0.05s ease;
    -moz-transition: background-color 0.05s ease, border-color 0.05s ease;
    -ms-transition: background-color 0.05s ease, border-color 0.05s ease;
    -o-transition: background-color 0.05s ease, border-color 0.05s ease;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
}

header nav a.icon {
    width: 4rem;
    padding: unset;
    background-size: 50%;
}

header .icon.mail {
    background-image: url(../../public/icons/mail.svg);
}

header nav .flex {
    justify-content: space-between;
    gap: 1rem;
}

header nav .flex a:not(.icon) {
    flex: 1;
}

.hambt {
    width: clamp(3rem, calc(2.5vw + 3vh), 4.5rem);
    height: calc(clamp(3rem, calc(2.5vw + 3vh), 4.6rem) * 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transform: skew(-10deg, 0deg);
}

.hambt span {
    background-color: var(--light);
    height: 16%;
    width: 100%;
    border-radius: 0.1rem;
    transition: opacity 0.1s ease-out, transform 0.2s ease, background-color 0.3s ease-out;
    -webkit-transition: opacity 0.1s ease-out, transform 0.2s ease, background-color 0.3s ease-out;
    -moz-transition: opacity 0.1s ease-out, transform 0.2s ease, background-color 0.3s ease-out;
    -ms-transition: opacity 0.1s ease-out, transform 0.2s ease, background-color 0.3s ease-out;
    -o-transition: opacity 0.1s ease-out, transform 0.2s ease, background-color 0.3s ease-out;
}

.hambt.close span {
    background-color: var(--primary);
}

.hambt.close span:nth-child(1) {
    opacity: 0;
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
}

.hambt.close span:nth-child(2) {
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
}

.hambt.close span:nth-child(3) {
    opacity: 0;
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
}



@media screen and (min-width: 650px) {
    header {
        height: 100vh;
        height: 100dvh;
        /* min-width: clamp(11rem, calc(7vw + 6vh), 18rem); */
        padding: clamp(2rem, 5vh, 5rem) 0;
        /* flex-direction: column; */
        position: sticky;
        top: 0;
        min-width: clamp(11rem, calc(7vw + 6vh), 13rem);
    }

    header>.ctnr {
        flex-direction: column;
        width: unset;
    }

    .hambt {
        opacity: 1;
        transition: opacity 0.1s ease;
    }

    .hambt:hover span {
        background-color: var(--primary);
    }

    header .social {
        flex-direction: column;
        max-height: calc(85vh - 9rem);
        overflow-y: auto;
    }

    header nav {
        left: unset;
        bottom: 0;
        top: 0;
        left: 100%;
        border-bottom: unset;
        border-right: 0.2rem solid var(--primary-la);
        overflow-y: auto;
        transform: translateX(-2rem);
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
    }

    header nav.show {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

}