

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding-bottom: clamp(6rem, 10vw, 12rem);
}

main>.ctnr {
    width: var(--width-mobile);
    padding: clamp(2rem, 10vmin, 6rem) 0 0;
}

.back {
    font-size: clamp(1.6rem, 5vw, 1.8rem);
    display: inline-flex;
    padding: 0.8rem 1rem 0.8rem 1rem;
    background-color: transparent;
    position: relative;
    gap: 1.4rem;
    left: -1rem;
    transition: background-color 0.3s ease;
    border-radius: 0.3rem;
    font-weight: 700;
    font-style: italic;
}

.back::before {
    content: '';
    position: relative;
    width: 0.4rem;
    height: 0.4rem;
    border-top: 0.2rem solid;
    border-left: 0.2rem solid;
    border-color: var(--light);
    transform: translate(0.4rem, 0.25em) rotate(-45deg);
    /* left: -0.6rem; */
    top: 0.4rem;
}

.back:hover {
    background-color: #151515;
    transition: background-color 0.05s ease;
}

















@media screen and (min-width: 650px) {

    main>.ctnr {
        width: var(--width-desktop);
    }







}