---
const today = new Date();
---

<footer>
	<p>Connect with Andrei Croitor</p>

	<div class="social">
		<a
			href="https://instagram.com/acroitor"
			target="_blank"
			class="instagram"
			title="Instagram"
			aria-label="Instagram page"></a>

		<a
			href="https://www.threads.net/@acroitor"
			target="_blank"
			class="threads"
			title="Threads"></a>

		<!-- <a
			href="https://twitter.com/andreicroitor"
			target="_blank"
			class="twitter"
			title="Twitter"
			aria-label="Twitter page"></a>

		<a
			href="https://www.tiktok.com/@a.croitor"
			target="_blank"
			class="tiktok"
			title="TikTok"
			aria-label="TikTok page"></a>

		<a
			href="https://www.linkedin.com/in/andreicroitor/"
			target="_blank"
			class="linkedin"
			title="LinkedIn"
			aria-label="LinkedIn page"></a> -->

		<a href="/contact/index.html" aria-label="Sent me an email">
			<div class="icon mail"></div>
			E-mail me
		</a>
	</div>

	<span class="author"
		>Made by <a href="https://oqva.digital/">OQVA Digital</a></span
	>
</footer>
