---
const today = new Date();
---

<footer>
	<p>Connect with Virgil Andrew</p>

	<div class="social">
		<a href="https://instagram.com/acroitor" target="_blank" title="Instagram"><span class="instagram icon"></span></a>

		<a href="https://twitter.com/andreicroitor" target="_blank" title="Twitter"><span class="twitter icon"></span></a>

		<a href="https://www.linkedin.com/in/andreicroitor/" target="_blank" title="LinkedIn"><span class="linkedin icon"></span></a>

		<a href="/contact/index.html" aria-label="Sent me an email">
			<div class="icon mail"></div>
			E-mail me
		</a>
	</div>

	<span class="author"
		>Made by <a href="https://oqva.digital/">OQVA Digital</a></span
	>
</footer>
